{% extends "index.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style>

    .bg-image {
  /* The image used */
  background-image: url('https://upload.wikimedia.org/wikipedia/en/6/62/Kermit_the_Frog.jpg');
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

</style>
{% endblock %}
{% block content %}
<div class="container-fluid py-5">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Start Calculating</h1>
            {% if error %}
            <div class="alert alert-danger error" role="alert">
                {{ error }}
            </div>
            {% endif %}
            <div class="mb-4 d-flex justify-content-center align-items center ">
                
                <form action="/calculator" method="POST" >
                    <img src="../static/images/scal.jpeg" height="150"  />
                    <div class="form-group">
                        <label for="num1" class="col-sm-4 col-form-label">Number 1:</label>
                        <input type="number" id="num1" name="num1" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="num2" class="col-sm-4 col-form-label">Number 2:</label>
                        <input type="number" id="num2" name="num2" class="form-control">
                    </div>
                    <fieldset class="py-2">
                        <legend>Operation</legend>
                        <div>
                            <select name="operation" id="operation">
                                <option value="add_number">Add</option>
                                <option value="subtract_number">Subtract</option>
                                <option value="multiply_numbers">Multiply</option>
                                <option value="divide_numbers">Divide</option>
                              </select>
                        </div>
                    </fieldset>
                    <div class="text-center pt-2 ">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}
